<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us | SABCO</title>
    <meta name="author" content="Carissa E Cunningham">
    <meta name="description" content="Non-Profit Orphanage">
    <!-- external style references in the proper cascading order -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vibes&display=swap" rel="stylesheet"> 
    <link href="../styles/mobile.css" rel="stylesheet"> <!-- default styles - small/phone views -->
    <link href="../styles/medium.css" rel="stylesheet"> <!-- medium/tablet views -->
    <link href="../styles/large.css" rel="stylesheet"> <!-- large/wide/desktop views -->
</head>

<body>
    <div class=infoheader>
        <p id="para01">info@SABCO.org    &vert;    (801)555-5555</p>
    </div>

    <header>
        <div class="mobile-header">
            <a href="../index.html"><img src="../images/logo_placeholder.jpg" alt="SABCO logo of an Elephant with a baby tailing behind"></a>
            <h1>Small Action, Big Change Orphanage</h1>

            <input type="checkbox" id="menu"/>
        <label for="menu">&#9776;</label>
        <ul class="sub-menu">
            <li><a href="../index.html">Home ></a></li>
            <li><a href="about_us.html">About Us ></a></li>
            <li><a href="meet_kids.html">The Children > </a></li>
            <li><a href="donate.html">Donate > </a></li>
            <li><a href="school.html">The School > </a></li>
            <li><a href="contact.html">Contact Us > </a></li>
        </ul>
        </div>

        <nav class="topnav">
            <ul id="myLinks">
                <li><a href="home.html">Home</a></li>
                <li><a href="meet_kids.html">Meet the Kids </a></li>
                <li><a href="school.html">The School </a></li>
                <li><a href="donate.html">Donate </a></li>
                <li class="active"><a href="about_us.html"></a></li>
                <li><a href="contact.html">Contact Us </a></li>
            </ul>
            
        </nav>
    </header>

    <main>
        
       

    </main>

    <footer>
        <aside>
            SABCO <br>
            3950 Valley Commons Dr.<br>
            Bozeman, MT 59715<br>
            (406)888-9898<br>
            contact@SABCO.com<br>
        </aside>
        <p class="footer-bar">&copy;2019 All Rights Reserved &vert; SABCO &vert; <span id="currentdate">
                <script src="scripts/currentdate.js"></script></span>
        </p>
    </footer>

    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    <script src="scripts/mobilenav.js"></script>

</body>

</html>