<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meet the Kids | SABCO</title>
    <meta name="author" content="Carissa E Cunningham">
    <meta name="description" content="Non-Profit Orphanage">
    <!-- external style references in the proper cascading order -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vibes&display=swap" rel="stylesheet"> 
    <link href="../styles/mobile.css" rel="stylesheet"> <!-- default styles - small/phone views -->
    <link href="../styles/medium.css" rel="stylesheet"> <!-- medium/tablet views -->
    <link href="../styles/large.css" rel="stylesheet"> <!-- large/wide/desktop views -->
    <link href="../styles/meet_kids.css" rel="stylesheet"> 
</head>

<body>
    <div class=infoheader>
        <p id="para01">SABCO   &vert;   sabcocenter@gmail.com</p>
    </div>

    <header>
        <div class="mobile-header">
            <a href="../index.html"><img src="../images/websitelogo.png" alt="SABCO logo of an Elephant with a baby tailing behind"></a>
            <h1>Small Action, Big Change Orphanage</h1>

            <input type="checkbox" id="menu"/>
        <label for="menu">&#9776;</label>
        <ul class="sub-menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="about_us.html">About Us</a></li>
            <li><a href="meet_kids.html">The Children</a></li>
            <li><a href="donate.html">Donate</a></li>
            <li><a href="school.html">The School </a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
        </div>

        <nav class="topnav">
            <ul id="myLinks">
                <li><a href="../index.html">Home</a></li>
                <li class="active"><a href="meet_kids.html">Meet the Kids </a></li>
                <li><a href="school.html">The School </a></li>
                <li><a href="donate.html">Donate </a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact.html">Contact Us </a></li>
            </ul>
            
        </nav>
    </header>

    <main>
        <h1>Meet the Kids</h1>
        <!-- These are the flip cards -->
        <div class="card-container">
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/michael.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Michael-</h3>
                    <p>Michael was abandoned as a baby and left in a drainage pipe. 
                        The couple that found him were unable to locate his parents or 
                        find any information on them. They took care of Michael for a few 
                        years until they were unable to care for him anymore and he was 
                        brought to SABCO. 
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/samuel.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Samuel-</h3>
                    <p>Both of Samuel's parents died of HIV aids so he was taken in by his only 
                        living relative, his great-grandmother. She did not have the means to 
                        clothe and feed him properly and was afraid of what would happen to Samuel 
                        when she died. So, she brought him to live at SABCO.
                    </p>
                 </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/gilbert.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Gilbert-</h3>
                    <p>Gilbert and Amani's parents died in a motorcycle accident so they were sent to 
                        live with distant relatives. The relatives were not able to feed them and care 
                        for their needs. So, the relatives wrote a letter to SABCO asking if they could 
                        be taken in. 
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/amani.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Amani-</h3>
                    <p>Gilbert and Amani's parents died in a motorcycle accident so they were sent to 
                        live with distant relatives. The relatives were not able to feed them and care 
                        for their needs. So, the relatives wrote a letter to SABCO asking if they could 
                        be taken in. 
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/deborah.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Deborah-</h3>
                    <p>Deborah and Omega were raised by a single father who lost both his hands in a 
                        woodworking accident and could no longer find work. He couldn't provide for his 
                        daughters so they resorted to begging in the streets and were living in unsafe 
                        conditions. Their father brought them to SABCO to live. 
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/omega.jpg" alt="children">
                </div>
                <div class="card-back">
                   <h3>-Omega-</h3>
                    <p>Deborah and Omega were raised by a single father who lost both his hands in a 
                        woodworking accident and could no longer find work. He couldn't provide for his 
                        daughters so they resorted to begging in the streets and were living in unsafe 
                        conditions. Their father brought them to SABCO to live. 
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/neema.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Neema-</h3>
                    <p>Neema's mother died when she was 1 year old and her father is unknown. She was taken 
                        in by her grandmother who did not have the means to provide for her. The living 
                        conditions were unsafe and Neema's grandmother brought her to SABCO to be taken care of.  
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/veronica.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Veronica-</h3>
                    <p>Veronica was born in Babati and left at a hospital shortly after her birth. One of the 
                        nurses took her in and raised her for several years until she could no longer provide 
                        for her. The caretaker brought Veronica to live at SABCO.  
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/clara.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Clara-</h3>
                    <p>Clara's father is unknown. She was raised by a single mother who is very sick from HIV 
                        Aids and no longer able to provide for Clara. Clara spent some time alone on the streets 
                        begging for food and money until she was taken to SABCO to be taken care of.  
                    </p>
                </div>
            </div>
            <div class="flip-card"> 
                <div class="card-front">
                    <img src="../images/fey.jpg" alt="children">
                </div>
                <div class="card-back">
                    <h3>-Fey-</h3>
                    <p>Fey's father died in an automobile accident. Her mother was unable to support Fey as a single 
                        mother so she re-married and re-located to Uganda. The new husband refused to accept Fey into 
                        their family since she is not his daughter by blood. So, Fey had to stay in Tanzania with an 
                        elderly relative who couldn't provide for Fey selling bananas. She was eventually brought to 
                        SABCO to be taken care of.  
                    </p>
                </div>
            </div>
            
            <div id="kidhealth_info">
                <p>*All the children at SABCO have been tested for HIV aids and all are healthy!</p>
            </div>
        </div>
    </main>

    <footer>
        <aside>
            SABCO <br>
            sabcocenter@gmail.com<br>
        </aside>
        <p class="footer-bar">&copy;2019 All Rights Reserved &vert; SABCO &vert; <span id="currentdate">
                <script src="../scripts/currentdate.js"></script></span>
        </p>
    </footer>
</body>

</html>