<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us | SABCO</title>
    <meta name="author" content="Carissa E Cunningham">
    <meta name="description" content="Non-Profit Orphanage">
    <!-- external style references in the proper cascading order -->
    <link href="https://fonts.googleapis.com/css?family=McLaren|Muli&display=swap" rel="stylesheet"> 
    <link href="../styles/mobile.css" rel="stylesheet"> <!-- default styles - small/phone views -->
    <link href="../styles/medium.css" rel="stylesheet"> <!-- medium/tablet views -->
    <link href="../styles/large.css" rel="stylesheet"> <!-- large/wide/desktop views -->
    <link href="../styles/school.css" rel="stylesheet"> <!-- large/wide/desktop views for school page -->
</head>

<body>
    <div class=infoheader>
        <p id="para01">SABCO   &vert;   sabcocenter@gmail.com</p>
    </div>

    <header>
        <div class="mobile-header">
            <a href="../index.html"><img src="../images/websitelogo.png"
                    alt="SABCO logo of an Elephant with a baby tailing behind"></a>
            <h1>Small Action, Big Change Orphanage</h1>

            <input type="checkbox" id="menu" />
            <label for="menu">&#9776;</label>
            <ul class="sub-menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="meet_kids.html">The Children</a></li>
                <li><a href="donate.html">Donate </a></li>
                <li><a href="school.html">The School </a></li>
                <li><a href="contact.html">Contact Us </a></li>
            </ul>
        </div>

        <nav class="topnav">
            <ul id="myLinks">
                <li><a href="../index.html">Home</a></li>
                <li><a href="meet_kids.html">Meet the Kids </a></li>
                <li class="active"><a href="school.html">The School </a></li>
                <li><a href="donate.html">Donate </a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact.html">Contact Us </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 id="school_header">Plans for the School</h1>

        <div class="clearfix">
            <div id="plans" class="column picture">

                <figure>
                    <img id="class" src="../images/school.jpg" alt="picture of a small cement school room">
                    <figcaption>Current classroom</figcaption>
                </figure>

                <figure>
                    <img id="class" src="../images/school_construction.JPG" alt="picture of and apple on books in a classroom">
                    <figcaption>The new school under construction</figcaption>
                </figure>
                
                <h2>Why have a School at SABCO?</h2>

                <p>Public school education in Tanzania is technically free but there are so many fees (uniforms, supplies, school 
                    overhead charges, etc.) that usually far exceed the family's income and means. The distance children have to 
                    walk, the dangerous conditions, along with the child being needed to help at home make it difficult for children 
                    to stay in school. </p>
                        
                <p>It is typical for orphanages in Tanzania to have their own classroom and hired teacher. Currently, the classroom 
                    portion of the orphanage has no electricity and is exposed to the elements. Class can only be held in good weather 
                    and during the time of day when the sun can light the room. </p>
                        
                <p>So, we started construction on a school building next door to the SABCO center that will include several rooms to 
                    teach different grade levels. Upon completion teachers can be hired and the SABCO children can learn in a safe, 
                    learning-conducive environment. </p>
                        
                <p>It will also benefit the community! This school will provide the village with a school option close to home where 
                    families can send their children for very little money. The fees collected can be used to pay the teachers, feed 
                    the children lunch and help the orphanage center be self-sustainable. </p>
                        
                <p>So far, the cinder block walls are built but it still needs a lot of work to be completed. The roof, flooring, 
                    doors, windows, etc. are just a few of the things that need to be installed before the building is usable. </p>

                
            </div>
            <div id="help" class="column content">
                <h1>How can I help?</h1>
                
                <p>Small Action, Big Change Orphanage is simply a few people seeking to make a difference to the lives of 
               any they can. With your help, we could see those small actions blossom into life-altering changes for 
               these childen.</p>       
                <p>Any small amount that you can give makes a huge difference! </p>

                <button type="button" id="donate" onclick="window.location.href ='../views/donate.html';">Donate</button>

            </div>
        </div>


    </main>

    <footer>
        <aside>
            SABCO <br>
            sabcocenter@gmail.com<br>
        </aside>
        <p class="footer-bar">&copy;2019 All Rights Reserved &vert; SABCO &vert; <span id="currentdate">
                <script src="../scripts/currentdate.js"></script></span>
        </p>
    </footer>
</body>

</html>