/* About Us Page Styles */

/*Mobile View*/
#about_us h1 {
    border-bottom-style: solid;
    border-bottom-color: #008db1;
  }
  
  #aboutus-aside h2{
    border-bottom-style: solid;
    border-bottom-color: #008db1;
  }

  #donate_button2 {
    background-color: #d68227;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
  }

  
  /*Medium View*/
@media only screen and (min-width: 600px) and (max-width:991px) {

}


  /*Large View*/
@media only screen and (min-width: 992px) {

}