/* About Us Page Styles */

/*Mobile View*/

main {
  padding: 10px;
}


main h1 {
  border-bottom: 2px solid #d68227;
  font-size: 2em;
}

#aboutus-aside {
  display: none;
}

#founders1 h2, #founders2 h2 {
  text-decoration: underline;
  text-decoration-color: #d68227;
}

#founders1, #founders2 {
  padding: 10px;
}

#meetus_pic {
  max-width: 100%;
}
 
/* @media only screen and (min-width: 1000px) and (max-width */

  /*Medium View*/
@media only screen and (min-width: 800px) {

  footer {
    clear: both;
  }

 section {
   float: left;
   width: 70%;
 }

  #aboutus-aside {
    display: block;
    float: right;
    background-color: #ebebeb;
    padding: 1em 1em 2em 1em;
    text-align: center;
    width: 25%;
  
  }

  #aboutus-aside h1 {
    font-size: 1.5em;
  }

  #donate_button2 {
    background-color: #d68227;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 2em;
    border-radius: 5px;
    box-shadow: 0 0 11px lightslategray;
  }


}



  /*Large View*/
@media only screen and (min-width: 1030px) {

main {
  margin-right: 150px;
  margin-left: 150px;
}


picture {
  float: left;
  max-width: 50%;
  margin: 1em;;
}

section {
  width: 75%;
}

#aboutus-aside {
  width: 20%;
}



}