/* About Us Page Styles */

/*Mobile View*/

main {
  padding: 1em;
}

main h1 {
  border-bottom: 2px solid #d68227;
  font-size: 2em;
}

#aboutus-aside {
  display: none;
}

#founders1 h2, #founders2 h2 {
  text-decoration: underline;
  text-decoration-color: #ebebeb;
}
 
/* @media only screen and (min-width: 1000px) and (max-width */

  /*Medium View*/
@media only screen and (min-width: 800px) {


  main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0;
  }

  h1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  #pic_div {
    width: 500px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    
  }

  #aboutus-aside {
    display: block;
    background-color: #ebebeb;
    padding: 1em;
    text-align: center;
    grid-column-start: 3;
    max-height: 500px;
  }

  #aboutus-aside h1 {
    font-size: 1.5em;
  }

  #donate_button2 {
    background-color: #d68227;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 2em;
    border-radius: 5px;
  }


}



  /*Large View*/
@media only screen and (min-width: 1030px) {

main {
  margin-right: 200px;
  margin-left: 200px;
}

picture {
  width: 600px;
}


}