.container {
    overflow: auto;
}
.container::after {
    content: "";
    clear: both;
}

main { margin: 0 8em 0 8em; }

main h1 { border-bottom: 2px solid #d68227; }

.column1 {
    width: 35%;
    float: left;
    background-color: rgb(236, 236, 236);
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}

.column2 {
    width: 55%;
    float: right;
}
#img { width: 500px; }

@media only screen and (min-width: 601px) and (max-width: 1030px) {
    main { margin: 0 4em 5em 4em }

    .container {margin-top: 4%; }
    .column1 {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    #img {
         width: 350px;
         margin-left: 10%;
    }
}
@media only screen and (max-width: 600px) {
    main {
        margin-left: 1em;
        margin-right: 1em;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img {
        width: 250px;
    }
    .column1 {
        width: 100%;
        margin-bottom: 4em;
        font-size: 1.25em;
    }
    .column2 {
        width: 100%;
        text-align: center;
    }
  }