ul.donateList {
    list-style-type: circle;
    }
.donateList li {
    padding-left: 10px;
    padding-bottom: 5px;
}
#GoFundMeHeader {
    background-color: rgb(236, 236, 236);
        padding: 15px;
        text-align: center;
}
a {
    color: #d68227;
}

a:active {
    color: #008db1;
}

@media only screen and (min-width: 992px) {
    main {
        margin-right: 10em;
        margin-left: 10em;
    }

    .clearfix {
        overflow: auto;
    }

    .column {
        float: left;
        padding-right: 25px;
    }

    .clearfix::after {
        content: "";
        clear: both;
    }

    .picture {
        width: 60%;
    }

    .content {
        width: 40%;
    }

    main h1 {
        border-bottom: 2px solid #d68227;
    }

    #image figure figcaption { text-align: center; }
    #image figure { max-width: 100%; }
    #image figure img {
        max-width: 400px;
        height: auto;
    }


    #screenshot {
        width: 75%;
        height: auto;
        border-radius: 25px;
    }

    #class {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
    #help > h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width:991px) {
    main {
        margin-right: 25px;
        margin-left: 25px;
    }

    #donate_header {
        color: #d68227;
    }

    h1 {
        text-align: center;
    }

    #screenshot {
        width: 50%;
        height: auto;
        border-radius: 25px;
    }
<<<<<<< HEAD
    #image {
        display: none;
    }

=======
>>>>>>> 97a2ded583fa7521e05e3e29e6d820f963b6eb8f
}