/*Home Page Styles for Large Screen View*/

@media only screen and (min-width: 992px) {
    * { 
      font-family: 'McLaren', sans-serif;
      font-family: 'Muli', sans-serif;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }

    body {
      font-family: 'Muli', sans-serif;
    }

    .infoheader {
        display: none;
      }

      .sub-menu {
          display: none;
      }
      
      header h1 {
        color: black;
        font-size: 1.25em;
        font-family: 'McLaren', sans-serif;
      }
      
      .mobile-header {
        display: flex;
        justify-content: center;
        font-size: 26px;
      }
    
      .mobile-header img {
        margin-top: 20px;
        max-width: 175px;
        max-height: auto;
      }

      #homepic {
        display: flex;
        width: 50%;
        height: auto;
        float: left;
        margin-right: 25px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #008db1;
        position: relative;
      }
      
      #myLinks {
        display: flex;
        flex-wrap: nowrap;
        list-style-type: none;
        justify-content: center;
      }

      #myLinks > li {
        margin-top: -17px;
        margin-right: 25px;
        margin-bottom: -17px;
        text-align: center;
        line-height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }

      #myLinks > li > a {
        color: white;
        text-decoration: none;
        font-size: 17px;
      }

      #myLinks > li:hover {
          background-color: #ddd;
      }

      #menu {
        display: none;
      }

      .mobile-header label {
        display: none;
      }

      footer {
        background-color: #008db1 ;
        color: white;
        padding: 10px 0 0 0;
        text-align: center;
        font-size: .75em;
      }

      .home_links {
        display: flex;
        width: 100%;
        margin-top:25px;
        margin: auto;
        width: 90%;
      }

      .home_links > a > img {
        width: 100%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 25px;
        box-shadow: 0 0 11px lightslategray; 
      }

      #home-info {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
      }

      #home-info h1 {
        color: #d68227;
        font-size: 2.5em;
      }

      #home-para {
        overflow: auto;
        display: block;
      }

      #img1 {
        margin-left: 25px;
        margin-right: 35px;
      }

      #img2 {
        margin-right: 35px;
      }

      #img4 {
        display: none;
      }

      #donate_button {
        display: none;
      }

      #home-info h1, h2 {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      #homepage_logo {
        margin-top: 4em;
        margin-left: 8em;
      }
}