/*Home Page Styles for Medium View*/

@media only screen and (min-width: 600px) and (max-width:991px) {

    .infoheader {
      display: none;
    }
    
    header h1 {
      color: black;
      font-family: 'Vibes', cursive;
      font-size: 1.75em;
      text-align: center;
    }
    
    .mobile-header {
      display: flex;
      justify-content: left;
    }

    .mobile-header img {
      margin-top: 10px;
      max-width: 150px;
      max-height: auto;
    }

    #homepic {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #myLinks > li > a {
      color: white;
      text-decoration: none;
      font-size: 17px;
    }
    
    
    .topnav {
      overflow: hidden;
      background-color: #008db1;
      position: relative;
    }
    
    #myLinks {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
    }
    #myLinks li a {
       color: white;
      text-decoration: none;
      font-size: 17px;
    }
    #menu {
      display: none;
    }
    .mobile-header label {
      display: none;
    }
    a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    .active {
      background-color: #4CAF50;
      color: white;
    }
    .sub-menu {
      position:absolute;
      background-color: #326a7c ;
      color: white;
      list-style-type: none;
      width: 75%;
      padding-left: 0px;
      margin-left: -30px;
      margin-top: 0px;
      display: none;
    }
    #menu:checked ~ .sub-menu{
      display: block;
    }
    .sub-menu > li {
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: center;
    }
    .sub-menu > li > a {
      font-size: 30px;
      color: white;
      text-decoration: none;
    }
    .sub-menu > li:hover {
      background-color: #61747a;
    }
    .home_links {
      /* display: flex;
      flex-direction: column; */
      text-align: center;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
    }
    #donate_button {
      background-color: #d68227;
      width: 150px;
      height: 80px;
      color: white;
      text-decoration: none;
      font-size: 2em;
      padding-top: 20px;
      padding-left: 20px;
      border-radius: 25px;
      grid-column: 1 / 2;
      justify-content: stretch;
      justify-items: center;
    }
    #img1 {
      grid-column-start: 1;  
    }
    #img2 {
      grid-column-start: 2;
      grid-row-start: 2;
    }
    .home_links a img {
      max-width: 300px;
      height: auto;
      box-shadow: 10px 10px #888888;
    }
    .home_links a {
      color: #008db1;
      text-decoration: none;
      margin: 1em;
    } 
    #school_imagelink a {
    
      text-decoration: none;
    }
    footer {
      background-color: #008db1 ;
      color: white;
      padding: 10px 0 0 0;
      text-align: center;
      font-size: .75em;
    }

    .welcome {
      display: none;
    }

    #homepage_logo {
      display: none;
    }
  }