/* The following code was taken from https://codepen.io/andymcfee/pen/eyahr */
.flip-card {
    display: block;
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    /* carissa added */
    margin: 20px;
    
  }
  .flip-card .card-front,
  .flip-card .card-back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 500ms;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .flip-card .card-front {
    -moz-transform: perspective(300) rotateY(0);
    -webkit-transform: perspective(300) rotateY(0);
    transform: perspective(300) rotateY(0);
    z-index: 1;
  }
  .flip-card .card-back {
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index: 0;
  }
  .flip-card:hover .card-front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: perspective(300) rotateY(180deg);
    -webkit-transform: perspective(300) rotateY(180deg);
    transform: perspective(300) rotateY(180deg);
  }
  .flip-card:hover .card-back {
    z-index: 950;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: perspective(300) rotateY(0deg);
    -webkit-transform: perspective(300) rotateY(0deg);
    transform: perspective(300) rotateY(0deg);
  }
  
  /* My code */
  .card-container {
      display: grid;
      grid-template-columns: auto auto auto;
  }
  .flip-card {
      justify-self: center;

  }

.card-front img {
  width: 300px;
  height: 300px;
  box-shadow: 10px 10px lightgray;
  cursor: pointer;
}

.card-back h3 {
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: auto;
  }

  .card-front img {
    box-shadow: 0 0;
  }

}

@media only screen and (min-width: 601px) and (max-width: 1030px) {
  .card-container {
    grid-template-columns: auto auto;
  }

}