.card-container {
    position: relative;
    height: 150px;
    width: 150px;
}
.flip-card {
    position: absolute;
    z-index: 1000px;
    width: 100%;
    height: 100px;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
.flip-card:hover {
    transform: rotateY(180deg);
}
/* .card-front {
    position: relative;
    width: 100%;
    height: 100%;
}
.flip-card:hover .card-front {
    transform: rotateY(180deg);
    transition: transform 1s;
}
.card-front .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    background-color:blue;

} */