* { box-sizing: border-box;}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
 
.infoheader {
    background-color: #4698b4 ;
    color: white;
    padding: .05em 0 .05em 0;
    font-size: 26px;
    padding-left: 15px;
}

#para01 {
  display:inline-block;
  text-align: center;
  padding-left: 10px;
}

#homepic {
    width: 480px;
}
#donatebutton {
    background-color: #d68227;
    width: 75px;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}
#donatebutton a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
body {
  max-width: 480px;
  margin: auto;
  height: 500px;
  border-radius: 10px;
}

header h1 {color: #d68227}

.topnav {
  overflow: hidden;
  background-color: #008db1;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav ul li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

footer {
    background-color: #008db1 ;
    color: white;
    padding: .05em 0 .05em 0;
    text-align: center;
}
#homepic {
  width: 370px;
}

.infoheader input[type="checkbox"] {
  display: none;
}

.sub-menu {
  position:absolute;
  background-color: #326a7c ;
  color: white;
  font-size: 26px;
  list-style-type: none;
  width: 200px;
  padding-left: 15px;
  margin-left: -15px;
  margin-top: 2px;
  opacity: 0;
}

#menu:checked ~ .sub-menu{
  opacity: 1;
}

.sub-menu > li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-menu > li:hover {
  background-color: #61747a;
}
}